[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
*.suo
*.cache
*.docstates
*.dgml
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
QueryInterceptor.dnx/src/QueryInterceptor.dnx/project.lock.json
QueryInterceptor.dnx/test/QueryInterceptor.dnx.UnitTests/project.lock.json